*{
    padding: 0;margin: 0;
    box-sizing: border-box;
}

.main{
    width: max-content;
    height: max-content;
    margin: auto;
}

.p{
    width: 95vw;
    height: 95vh;
    border: 1px solid red;
    margin: 3px 0;
}

.bt {
    margin: 7px 0;
    display: flex;
    align-items: center;
    justify-content: center;

}
.bt a{
    
    text-align: end;
    background-color: #333;
    padding: 4px;
    border-radius: 10px;
}

@media only screen and (max-width:700px){  



    @media only screen and (max-width:480px){
        *{
            color: white;
            text-decoration: none;
        }
        body{
            background-color: black;
        }
        #p1 .top{
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        #p1 .top .log{
            font-family:monospace;
            font-size: x-large;
        }
        #p1 .top .link {
            display: flex;
            text-decoration: none;
        }
        #p1 .top .link a {
            padding: 8px;
            margin: 0 10px;
        }
        #p1 .top .link a.active{
            background-color: blueviolet;
            border-radius: 8px;

        }
        #p1 .top .link a:hover{
            background-color: rgb(168, 117, 216);
            opacity: 0.8;
            transition: 1s;
            border-radius: 8px;
        }
        #p1 .cc{
            height: 50%;
            display: flex;
            justify-content:center;
            align-items: center;
        }
        #p1 .cc h2{
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            width: max-content;
            text-align: center;
            font-weight: 100;
        }
        #p1 .cc #nn{
            font-family:'Brush Script MT', cursiv;
            font-weight: bold;
            background: -webkit-linear-gradient(#eee, #333);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        #p2 .top {
            display: flex;
            flex-direction: column;
        }

        #p2 .top .hd{
            margin: auto;
        }
        #p2 .top .hd h2{
            margin: 10px 0;
        }
        #p2 .top .pic{
            margin: auto;
            width: 200px;
            height: 250px;
            border: 1px solid red;
        }
    }
    
}